.login{
    color: #04c582;
    text-decoration: none;
}
.form {
    width: 100%;
    display: grid;
    gap: 30px;
}
.header p{
    font-size: 30px;
}
.link{
    color: #2196f3;
}
.link:hover{
    text-decoration: none;
    color: #1769aa;
}
.signup{
    border-bottom: 1px solid #2196f3;
}
.login{
    border-bottom: 1px solid #2196f3;
}









/* .signUpBox{
    background-color: #2e3137;
    width: 380px;
    height: 550px;
    border-radius: 25px;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.header{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header a{
    color: #545d6a;
    text-decoration: none;
}
.header a:hover{
    color: white;
} 
.header a h3{
    font-size: 25px;
}
.signup{
    color: white;
    border-bottom: 1px solid white;
}



.inputDiv form{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.inputDiv form label{
    color: #545d6a;
    font-size: 14px;
    margin-bottom: 0px;
}
.inputDiv form input{
    background-color: #545d6a;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
}
input:hover,a:hover{
    cursor: pointer;
}
.inputDiv form div{
    min-height: 25px;
    font-size: 15px;
    color: red;
}


span:hover{
    cursor: pointer;
    color: white;
}
.passEye{
    position: absolute;
    top: 310px;
    right: 50px;
    font-size: 20px;
}
.confPassEye{
    position: absolute;
    top: 410px;
    right: 50px;
    font-size: 20px;
}
.focus{
    color: white;
    position: absolute;
    top: 310px;
    right: 50px;
    font-size: 20px;
}
.focusConf{
    color: white;
    position: absolute;
    top: 410px;
    right: 50px;
    font-size: 20px;
}



.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonDiv button{
    color: white;
    background-color: #04c582;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
}
.buttonDiv button:hover{
    color: #545d6a;
    cursor: pointer;
}



.logInBox{
    background-color: #2e3137;
    width: 380px;
    height: 350px;
    border-radius: 25px;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.login{
    color: white;
    border-bottom: 1px solid white;
}

.loginPassEye{
    position: absolute;
    top: 210px;
    right: 50px;
    font-size: 20px;
}
.loginFocus{
    color: white;
    position: absolute;
    top: 210px;
    right: 50px;
    font-size: 20px;
}



#modalHeader{
    background-color: #04c582;
}
#modalFooter{
    background-color: #2e3137;

}

@media screen and (max-width:600px){
    .signUpBox {
        width: 300px;
        height: 450px;
        padding: 10px 30px;
        gap: 5px;
    }
    .header {
        padding: 5px;
    }
    .header a h3 {
        font-size: 18px;
    }
    .inputDiv {
        gap: 0px;
    }
    .inputDiv input {
        padding: 8px;
    }
    .inputDiv div {
        min-height: 20px;
        font-size: 10px;
    }
    .buttonDiv button {
        padding: 5px;
        border-radius: 10px;
        width: 150px;
        font-size: 18px;
    }
    .passEye,.focus {
        top: 242px;
        right: 42px;
    }
    .confPassEye,.focusConf {
        top: 323px;
        right: 42px;
    }
    .logInBox{
        width: 300px;
        height: 300px;
        padding: 10px 30px;
        gap: 5px;
    }n
    .loginPassEye,.loginFocus {
        top: 161px;
        right: 42px;
    }
} */